server:
  port: 8080

spring:
  application:
    name: kafka-producer
  datasource:
    url: jdbc:postgresql://localhost:5433/service_producer
    username: producer
    password: qwerty
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  kafka:
    bootstrap-servers: localhost:9094
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: service-a
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

app:
  topics:
    request: events.request
    response: events.response
  scheduler:
    fixedDelayMs: 5000

logging:
  level:
    root: INFO
    org.hibernate.SQL: INFO
    org.springframework.kafka: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n"
